/*from fontsmarket.com*/
@font-face {
    font-family: 'arialboldmt';
    src: url('../fonts/arialboldmt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*from fontsgeek.com*/
@font-face {
    font-family: 'bundyregular';
    src: url('../fonts/bundyregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'arialboldmt';
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    background-color: #673213;
    position: relative;
}

.contentWrap{
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80vh;
    border-top: 4vh solid #ac4b30;
    border-bottom: 4vh solid #ac4b30;
    display: flex;
}

.content{
    box-sizing: border-box;
    margin: auto;
    width: 100vw;
    height: 80vh;
    background-color: #f6d4af;
    border-top: 4vh solid #eaa902;
    border-bottom: 4vh solid #eaa902;
}


video{
    height: 100%;
    width: auto;
}