/*from fontsmarket.com*/
@font-face {
    font-family: 'arialboldmt';
    src: url('../fonts/arialboldmt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*from fontsgeek.com*/
@font-face {
    font-family: 'bundyregular';
    src: url('../fonts/bundyregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'arialboldmt';
    font-size: calc(18px + (40 - 18) * ((100vw - 300px) / (3840 - 300)));
    width: 100vw;
    min-height: 100vh;
    background-color: #4d0001;
    position: relative;
    font-weight: normal;
}

#introVidContainer, #answerContainer{
    display: none;
}

.contentWrap{
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 86vh;
    background-color: #efd004;
    border-top: 2vh solid #e05618;
    border-bottom: 2vh solid #e05618;
}

.content{
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;
    margin: auto;
    box-sizing: border-box;
    width: 100vw;
    height: 82vh;
    background-color: #f5dfc6;
    border-top: 3.5vh solid #745527;
    border-bottom: 3.5vh solid #745527;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#question, #playerGuess, #correctAnswer, #questionCountdown{
    height: 8%;
    text-align: center;
}

#questionImg{
    height: 35%;
}

#questionImg img{
    height: 95%;
    width: auto;
    margin: auto;
}

#answers{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 40%;
    justify-content: space-between;
    margin: auto;
}

#answers button{
    width: 100%;
}

button{
    font-family: 'arialboldmt';
    font-size: calc(18px + (40 - 18) * ((100vw - 300px) / (3840 - 300)));
    color: #ffffff;
    background-color: #38753f;
    padding: 1vh;
    border: .2vw solid #ffffff;
}

button:hover{
    background-color: #2b5a2a;
    cursor: pointer;
}

#answerVidContainer{
    height: 82%;
    width: 100%;
}

/*button #479558 hover #1f4016*/

video{
    height: 100%;
    width: auto;
}