/*from fontsmarket.com*/
@font-face {
    font-family: 'arialboldmt';
    src: url('../fonts/arialboldmt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*from fontsgeek.com*/
@font-face {
    font-family: 'bundyregular';
    src: url('../fonts/bundyregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'arialboldmt';
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    background-color: #4d0001;
    position: relative;
}

.contentWrap{
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 86vh;
    background-color: #efd004;
    border-top: 2vh solid #e05618;
    border-bottom: 2vh solid #e05618 ;
}

.content{
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;
    margin: auto;
    box-sizing: border-box;
    width: 100vw;
    height: 82vh;
    background-color: #f5dfc6;
    border-top: 3.5vh solid #745527;
    border-bottom: 3.5vh solid #745527;
}


video{
    height: 100%;
    width: auto;
}